body {
  background-color: rgb(250, 97, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  padding: 1em;
}
#characters img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
  background-color: rgb(255, 231, 231);
  border-radius: 10vw;
  width: 11em;
  margin: 0 auto;
}
